{% load static %}


<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" type="image/ico" href="img/favicon.gif" />
        <title> AnimateYoureFace </title>
    </head>


    <body>


        <section class="sectionPage" id="FirstDiv">

            <div class="menu">
                <span class="menuItems" id="home" onclick="navigation('/')">Home</span>
                <span class="menuItems" id="upload"  onclick="navigation('/register/compte')">compte</span>
                <span class="menuItems" id="visualization" onclick="navigation('/upload/telechargement')">telechargement</span>
                <span class="menuItems" id="partenairsheap" onclick="navigation('/site_partenaire')">site partenaire</span>
            </div>

            <div class="Div"><!-- Top First Div -->

                <div class="divA" id="a1">
                </div>


                <div class="divB">
                    <center>
                        <div id="" style="padding-top:5%;">
                            <h2>Visualiation</h2>
                            <br>
                            je choisis mes emoticons

                            <button id="button_appli" onclick="appli()">Button</button>

                        </div>
                    </center>
                    
                </div>  

                <div class="divC">
                    <h1>Mes videos</h1>
                    <div style="position:absolute;">

                        {% for video in video_user %}
                            <video controls muted width="50%;" style="border:1px solid black;border-radius:20px;"><source src="{{video}}"></video><br>
                        {% endfor %}

                    </div>

                    <div id="" style='position:absolute;right:0;' >
                        <img src= '{% static "/visualisation/yeux/un/gros_oeil.png" %}'>
                    </div>

                </div>


            </div>


            <div class="Div">


                <div class="divA" id="a2"></div>


                <div class="divB">
                
                    <center>
                        <video controls muted><source src=""></video>
                    </center>
                
                </div>

                <div class="divC"></div>

            </div>




            <div class="Div">

                <div class="divA" id="a3">
                </div>



                <div class="divB">
                    <center>
                        <p style="padding-top:5%;">
                            explications
                        </p>
                    </center>
                </div>


                <div class="divC">


                </div>

            </div>




        </section>

    </body>
</html>



<style>

    #account{
    }
    #upload{
        margin-left:10%;
    }
    #visualization{
        margin-left:10%;
    }
    #partenairsheap{
        margin-left:10%;
    }

    #account:hover{
        background:green;
    }
    #upload:hover{
        background:green;
    }
    #visualization:hover{
        background:green;
    }
    #partenairsheap:hover{
        background:green;
    }


    .menuItems{
        width:100%;
        cursor:pointer;
        border:1px solid black;
    }
    .menu{
        position:relative;
        width:auto;
        height:auto;
        border:1px solid red;
        text-align:center;
    }



</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  


<script>


    function navigation(page2){
         document.location.href=page2; 
    };



    function appli(){

        $.ajax({
              data:{"start": "start",
                    csrfmiddlewaretoken:'{{ csrf_token }}'
                   },
              type:"POST",
              url:"visualisation",
          })
          .done(function(data){
              if (data.error){
                  console.log("error visualisation")
              }
              else{

                {}

             };
        });
    };


</script>




























