<div class="navebarre">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px" y="0px"
        width="30" height="50"
        viewBox="0 0 172 172"
        style=" fill:#000000;">

        <g fill="none"
            fill-rule="nonzero" stroke="none"
            stroke-width="1"
            stroke-linecap="butt"
            stroke-linejoin="miter"
            stroke-miterlimit="10"
            stroke-dasharray=""
            stroke-dashoffset="0"
            font-family="none"
            font-weight="none"
            font-size="none"
            text-anchor="none"
            style="mix-blend-mode: normal">

            <path d="M0,172v-172h172v172z"
                fill="none">
            </path>

            <g fill="#ffffff">
                <path d="M0,26.46154v13.23077h172v-13.23077zM0,79.38462v13.23077h172v-13.23077zM0,132.30769v13.23077h172v-13.23077z">
                </path>
            </g>
        </g>
    </svg>
</div>

<span class="menu" id="main_menu">M E N U</span>
<span class="alert" id="alert"></span>






<style>
    .navebarre{
        position:absolute;
        top:0;
        left:0;
        padding:10px;
        width:50px;
    }
    .menu{
        position:absolute;
        top:25px;
        left:70px;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color:white;
    }
    .alert{
        position:absolute;
        top:25px;
        left:150px;
        color:red;
    }

</style>
