<span class="site_acces"><a href="#">Accès au site</a></span>

<svg class="site_acces_line"
    width="200" height="250" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <line x1="20" x2="320" y1="1" y2="1" stroke="white" fill="transparent" stroke-width="2"/>
    <path fill="none" stroke="blue" stroke-width="5"/>
</svg>




<STYLE>
    /* TOP HEADER PAGE */
    .site_acces{
        position: absolute;
        right:30px;
        top:30px;
        width:200px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding-bottom: 7px;
        overflow: hidden;
    }
    .site_acces:hover + .site_acces_line{
        display:block;
        stroke-dashoffset: 0;
    }
    .site_acces_line{
        position: absolute;
        right:40px;
        top:50px;
        height:20px;
        display:block;
        stroke-dasharray: 185;
        stroke-dashoffset: 185;
        transition: 1.5s;
    }
    .line_animation{
        margin-left:120px;
        z-index: 200;
        position: absolute;
        margin-top:50px;
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        transition: 1s;
    }
</STYLE>
