<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="section" id="section2">

    {% include "home_composition/navebarre/navebarre_logo.html" %}


    <p id="titre">Nos techniques.</p>

    <div id="conteneur">


            <div class="square">
                {% include "home_composition/sections/section2/sections_2/section2a.html" %}
            </div>


            <div class="square">
                {% include "home_composition/sections/section2/sections_2/sectionb.html" %}
            </div>


            <div class="square">

               {% include "home_composition/sections/section2/sections_2/sectionc.html" %}
            </div>


            <div class="square">
                {% include "home_composition/sections/section2/sections_2/sectiond.html" %}
            </div>


            <div class="square">
                {% include "home_composition/sections/section2/sections_2/sectione.html" %}
            </div>


            <div class="square">
                {% include "home_composition/sections/section2/sections_2/sectionf.html" %}
            </div>
  
    </div>

    

    <div id="arrow">
        <div id="arrow1">
            <a href="/#firstPage">{% include "home_composition/arrow/arrow1.html" %}</a>
        </div>
        <div id="arrow2">
            <a href="/#secondPage">{% include "home_composition/arrow/arrow2.html" %}</a>
        </div>
    </div>



</div>


<style>
    #arrow{
        position:absolute;
        bottom:0;
        right:0;
        padding-bottom:30px;
        padding-right:15px;
        height:100px;
        width:40px;
    }
    #arrow2{
        margin-top:20px;
    }
    #section2{
        position: relative;
        color:white;
        width:100%;
        height:100%;
        overflow: hidden;
    }
    .row{
        position:absolute;
        width:100%;
        height:100%;
        padding:0;
        margin:0;
    }
    #conteneur{
        padding-top:20px;
        display: flex;
        flex-wrap: wrap;
        width:100%;
        height:60%;
    }
    .square{
        width: 33%;
        height:70%;
    }
    .in_square{
        position:relative;
        width:72%;
        float:right;
        text-align:left;
    }
    h3{
        font-family: proxima nova w15;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .7647rem;
        font-size: 11px;
        margin-left:25px;
    }
    #menu2{
        position:absolute;
        top:4%;
        left:70px;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    #titre{
        font-size: 30px;
        font-weight: 700;
        font-family: playfair display;
        margin-top: 60px;
        margin-left: 80px;
        width:300px;
    }
    a:hover{
        text-decoration:none;
        color:white;
    }
    .line_under_h3{
        margin-top:-30px;
    }
    .line_under_h3_1{
        margin-top:-25px;
        margin-left:-25px;
    }
    li{
        margin-top:-10px;
    }
</style>


<script>


    //PART ANIMATION OF LINE UNDER ELEMENTS.



    var ACTIVATION = 0 // it define if we must auto raise line


    //Make the line at time !
    function animate(element, time){

        setTimeout(function(){
                document.getElementById(element).style.visibility = "visible";
                document.getElementById(element).style.strokeDashoffset = "0";
                document.getElementById(element).style.transition = "1s";

            }, time);
    };

    //function onmouse OVER.
    function active(id1, id2, id3, id4){

        ACTIVATION = 1

        animate(id1, 300);

        animate(id2, 400);

        animate(id3, 500);

        if (id4 != ""){
            animate(id4, 600);
        }

    };


    //onmouse OUT deactive all.
    function deactive(id1, id2, id3, id4, offset1, offset2, offset3, offset4){

        ACTIVATION = 0

        liste = [id1, id2, id3, id4]
        offset = [offset1, offset2, offset3, offset4]

        for (var i = 0; i < liste.length; i++){
            if (liste[i] != ""){
                document.getElementById(liste[i]).style.visibility = "hidden";
                document.getElementById(liste[i]).style.strokeDashoffset = offset[i];
                document.getElementById(liste[i]).style.transition = "0.3s";
            };
        };
    };


    //Verify line isn't present and user onmouse OUT, clear it.
    function verify(){

        console.log(ACTIVATION)

        if (ACTIVATION == 0){

            liste = ['line_eye1', 'line_eye2', 'line_eye3', 'line_head1', 'line_head2', 'line_head3',
                     'line_face1', 'line_face2', 'line_face3', 'line_face4', 'line_hand1', 'line_hand2',
                     'line_hand3', 'line_hand4']

            ofset_list = ['170', '160', '250', '100', '200', '200',
                          '230', '260', '180', '100', '140', '155', '155', '125']

            for (var i = 0; i < liste.length; i++){

                var visible = document.getElementById(liste[i]).style.strokeDashoffset;
                if (visible == 0){
                    console.log(liste[i])
                    console.log(document.getElementById(liste[i]).style.strokeDashoffset)
                    document.getElementById(liste[i]).style.strokeDashoffset = ofset_list[i];
                };
            };
        };
    };


    setInterval("verify()", 800);




</script>
