
<div class="container_section" id="container4">

    {% include "home_composition/site_access/site_access.html" %}
    {% include "home_composition/navebarre/navebarre_logo.html" %}


    <div class="page_section">

        <div class="container_image_direction">
            
            <div class="container_image">


                    <img class="image_page"
                        src="static/home_composition/section3/section3/images/a.png">

                    <div class="github_direction">
                        <span href="" onclick="appear()">
                            Github
                        </span>
                        <a href="https://github.com/JeanBaptisteServais/SYNERGO/tree/master/eye"
                            class="link_github">
                            : https://github.com/JeanBaptisteServais/SYNERGO/tree/master/eye
                        </a>
                    </div>



            </div>




            <div class="container_direction">

                <div class="to_project">
                        <h2 class="to_project_title">Head sections</h2>
                        <center>
                            <p class="project_explication">Venez voir notre détecteur de mouvement de tete !</p>
                        </center>

                        <div class="carre">

                            <svg width="240" height="50" class="svg_square">
                            
                                <a href="#yoyo">
                                
                                    <rect x="1" y="1" id="squarebabs" width="238" height="48"
                                        stroke="white" fill="transparent" stroke-width="2"/>
                                    <text x="20" y="30" font-family="playfair display"
                                        font-size="15" fill="white" class="project_view">
                                        V I E W &nbsp; P R O J E C T
                                    </text>
                                    
                                </a>
                                
                            </svg>
                        </div>
                    </div>




            </div>

        </div>
    </div>
</div>





<style>





    #squarebabs:hover{
        stroke:#2D3142;
    }

    #container4{
        background:#1A936F;
    }

</style>















